<html>

<body>

    <head>
        <h1>Announcement Page!</h1>
        <form action="/announcement" method="post">
            <tr>message:
                <td><input type="text" name="msg"></td>
            </tr>
            <tr>Announcement:
                <td><input type="text" name="ann"></td>
            </tr>
            <tr>
                <input type="submit">
            </tr>
        </form>
    </head>

</body>

</html>