<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT </title>
    <link rel="stylesheet" href="stylesheets/contact.css">
</head>

<!-- 
<body>
    <address>
        Organization Name: MAIN SCHOOL  <br>
        Web Site:
        <a href="https://school@gmail.com">
            MAIN SCHOOL</a><br>
        visit us:<br>
        MAIN SCHOOL<br>
        710-B, Advant Navis Business Park, <br>
        Sector-142, Telangana 500070.
    </address> -->


<div class="wrapper">
    <!--NAVIGATION-->
    <nav>

        <ul>
            <li><a href="/mainHome">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">STUDENTS</a></li>
            <li><a href="/adminlogin">ADMIN</a></li>
            <li><a href="/images">GALLERY</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/school">BACK</a></li>
        </ul>
    </nav>
    <div class="section">
        <h1>
            <address>
                Organization Name: MAIN SCHOOL <br>
                Web Site:
                <a href="https://school@gmail.com">
                    MAIN SCHOOL</a><br>
                visit us:<br>
                MAIN SCHOOL<br>
                C.T.M.K.High School <br>
                Jalna-431203.
            </address>
        </h1>



        </body>

</html>