<!DOCTYPE html>
<html>

<head>
  <title>PHOTOS</title>

  <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">


  <style type="text/css">
    * {
      margin: 0px;
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 55px;
    }

    header {

      font-family: 'Dokdo', cursive;
      font-size: 30px;
      padding: 20px;
    }

    main {
      margin-left: 120px;
      width: 100%;
      margin-top: 40px;
    }

    .box {
      width: 20%;
      float: left;
      padding: 7px;
      padding-left: 10px;
      display: block;

    }

    img {
      width: 100%;
      border-radius: 4px;

    }

    img:hover {
      transform: scale(1.3, 1.3);
      transition: .3s transform;

    }

    .wrapper {
      background: url(/images/main.png) no-repeat center center;
      min-height: 30rem;
    }
    nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}
nav ul li:hover{
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}
  </style>

</head>

<body>
  <div class="wrapper">
    <!--NAVIGATION-->
    <nav>
    
      <ul>
        <li><a href="/mainHome">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/">STUDENTS</a></li>
        <li><a href="/adminlogin">ADMIN</a></li>
        <li><a href="/images">GALLERY</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/school">BACK</a></li>
      </ul>
    </nav>

    <header>

      <h1>
        PHOTOS OF OUR SCHOOL <p>HAPPY SEEING</p>
      </h1>
      <hr />

    </header>

    <main>
      <div class="box">
        <img src="/images/s1.png">
      </div>
      <div class="box">
        <img src="/images/s2.png">
      </div>
      <div class="box">
        <img src="/images/s3.png">
      </div>
      <div class="box">
        <img src="/images/s4.png">
      </div>
      <div class="box">
        <img src="/images/s5.png">
      </div>
      <div class="box">
        <img src="/images/s6.png">
      </div>
      <div class="box">
        <img src="/images/S7.png">
      </div>
      <div class="box">
        <img src="/images/s8.png">
      </div>

    </main>



</body>

</html>