<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Web </title>
    <link rel="stylesheet" href="stylesheets/school.css">
</head>

<body>

    <div class="wrapper">
        <!--NAVIGATION-->
        <nav>

            <ul>
                <li><a href="/mainHome">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/">STUDENTS</a></li>
                <li><a href="/adminlogin">ADMIN</a></li>
                <li><a href="/images">GALLERY</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/school">BACK</a></li>
            </ul>
        </nav>
        <!--END OF NAVIGATION-->


        <iframe width="1020" height="415" src="https://www.youtube.com/embed/IX2JFD4guEk">
        </iframe>
        <!-- //https://youtu.be/IX2JFD4guEk -->

        <head>
            <title>
                <marquee behavior="" direction="right"></marquee>
            </title>
        </head>

        <body bgcolor="white">
            <marquee>*ADMISSIONS ARE OPENED.HURRY UP*</marquee>
        </body>