<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>School Web </title>
                    <link rel="stylesheet" href="stylesheets/school.css">
                    </head>
                    <body>

                        <div class="wrapper">
                            <!--NAVIGATION-->
                            <nav>
                                <img src="images/main.png" class="img" alt="logo">
                                <ul>
                                <li><a href="/mainHome">HOME</a></li>
                                <li><a href="/about">ABOUT</a></li>
                                <li><a href="/">STUDENTS</a></li>
                                <li><a href="/adminlogin">ADMIN</a></li>
                                <li><a href="/images">GALLERY</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                               
                                
                            </nav>
                            <!--END OF NAVIGATION-->

                            <div class="section">
                                <h1>WE ENSURE A BETTER EDUCATION <br> FOR A BETTER WORLD</h1>
                                <p>SUCESS IS THE SUM OF SMALL EFFORTS REPEATED </p>

                                <a href="/reg-form"><button class="btn-1">NEW ADMISSIONS</button></a>
                                <!--FEATURES-->
                                <div class="features">
                                    <button>Learn Online Classes</button>
                                    <button>Bridge Courses</button>
                                    <button>Huge Library</button>
                                    <button>Practical Exposure</button>
                                </div>
                                <!--END OF FEATURES-->
                            </div>
                            <!--END OF SECTION-->
                        </div>
                        <!--END OF WRAPPER-->
                        <head>
                            <title><marquee behavior="" direction="right"></marquee></title>
                          </head>
                          <body bgcolor="">
                            <marquee>*ADMISSIONS ARE OPENED.HURRY UP*</marquee>
                          </body>
                          

                   